<!DOCTYPE html>
<html>
  <head>
    <title>MyPgProject</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
     <%= csp_meta_tag %>
=======
    
>>>>>>> 17011b5b02256be5a0d323f3daae0f210f4cd472

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
